.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Purple);
    width: 400px;
    height: 100vh;
    position: fixed;
}

.avatarImg{
    width: 50%;
    margin-bottom: 50px;
}

.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
