.ContainerSobreMi{
    display:flex;
    flex-direction:column;
    justify-content: center;

    background-color: #130D29;
    color: white;

    margin-left: 400px;
    padding: 0 50px;
    height: 100vh;
}

.btn_CV{
    width: 200px;
}