.ContainerInicio{
    display:flex;
    flex-direction:column;
    justify-content: center;

    font-family: var(--Roboto);
    background-color: var(--DarkPurple);
    color: rgb(110, 110, 110);

    margin-left: 400px;
    padding: 0 50px;
    height: 100vh;
}

.Nombre{
    font-family: var(--Montserrat);
    font-weight: var(--SemiBold);
    font-size: 6rem;
    color: var(--Green);

    margin-bottom: 2rem;
}

.Titulo{
    font-family: var(--Montserrat);
    font-weight: var(--Ligth);
    font-size: 2.5rem;
    color: var(--White);

    margin-bottom: 4rem;
}

.BtnSpanCv{
    font-family: var(--Roboto);
    font-weight: var(--Regular);
    color: var(--White);
    font-size: 1.3rem;
    margin-right: 5px;
    margin-left: 7px;
}